.catalog__header {
    height: 177px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f1f1f1;
  }
  
  .catalog__title {
    margin: 0;
  }
  
  .catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  
  .catalog__item {
    margin-bottom: 30px;
    width: 260px;
  }
  
  .catalog__item:hover {
    box-shadow: 0px 8px 8px -2px rgba(34, 60, 80, 0.3);
  }
  
  .catalog__item:active {
    box-shadow: 0px 4px 4px -2px rgba(34, 60, 80, 0.3);
  }

  @media (min-width: 768px) {
    .catalog{
      justify-content: flex-start;
      background-image: url(../img/zigzag-fill-desktop.webp);
      background-position: top;
      background-repeat: repeat-x;
      margin: 0;
      margin-top:-15px;
      padding: 80px 50px 0 50px;
    }
  
    .catalog__item{
      display: flex;
      flex-direction: row;
      width: auto;
      margin-bottom: 60px;
    }
  }

  @media (min-width: 1050px){
    .catalog__header{
      width: 100%;
    }

    .catalog__title{
      font-size: 53px;
      width: 1150px;
      margin: 0 auto;
      padding: 50px 200px;
      box-sizing: border-box;
    }

    .catalog{
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      padding-top: 80px;
    }

    .catalog__header{
      padding: 0;
    }

    .catalog__item{
      flex-direction: column;
      width: 316px;
      margin: 0 25px 60px 25px;
    }

  }