.choise__header {
    padding: 0 30px;
    background-image: url(../img/bg-choise__header.png);
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center;
    height: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .choise__title {
    margin: 0;
  }
  
  .main-title {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    text-align: center;
  }
  
  .choise__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .choise__item {
    background-color: #63d1bb;
    background-image: url(../img/interior.png);
    background-repeat: no-repeat;
    background-position: 90% 22px;
    padding: 25px 30px;
  }
  
  .choise__item--baby {
    background-color: #56c3b2;
    background-image: url(../img/toy.png);
    background-position: 90% 21px;
  }
  
  .choise__item-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    width: 110px;
    display: inline-block;
  }
  
  .choise__item:hover {
    transform: scale(1, 1.03);
  }
  
  .choise__item:active {
    opacity: 0.8;
  }
  
  @media (min-width: 768px) {
      .choise{
          background-color: #f9f9f9;
      }
      .choise__header{
          padding: 160px 50px 305px 50px;
          background-image: url(../img/hero-desktop.png);
          background-position: top center;
          background-repeat: no-repeat;
          background-size: contain;
          justify-content: flex-start;
          padding-top: 140px;
          padding-bottom: 325px;
      }
  
      .choise__title{
          font-size: 43px;
  
      }
  
      .choise__list{
          display: flex;
          padding: 0 50px;
      }
  
      .choise__item{
          width: 50%;
      }
  }

  @media (min-width: 1150px) {
    .choise{
      width: 100%;
    }

    .choise__title{
      font-size: 53px;
      max-width: 1050px;
      margin: 0 auto;
    }

    .choise__list{
     max-width: 1050px;
     margin: 0 auto;
    }   

    .choise__title{
      padding: 50px 200px;
    }
  }