.contacts {
    background-image: url(../img/zigzag-line-desktop.webp);
    background-repeat: repeat-x;
    background-position: top;
    padding: 45px 30px;
    width: auto;
  }
  
  .contacts__title {
    font-size: 18px;
  }
  
  .contacts__table {
    font-size: 15px;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .contacts__field {
    width: 75px;
    line-height: 35px;
    padding: 10px 0;
    vertical-align: top;
  }
  
  .contacts__field-info {
    line-height: 35px;
    padding: 10px 0;
    vertical-align: top;
  }
  
  .contacts__map {
    width: 100%;
    padding-bottom: 40px;
  }
  
  .contacts__map-iframe {
    width: 100%;
    height: 457px;
  }
  
  .contacts__button {
    margin-top: 40px;
    width: 100%;
  }
  
  .contacts_email-link {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #62d1ba;
  }
  
  .contacts_email-link:hover {
    color: #62d1ba;
  }
  
  .contacts_email-link:active {
    opacity: 0.4;
  }
  
  @media (min-width: 768px) {
    .contacts{
      padding: 50px;
      display: flex;
      flex-direction: column;
    }
  
    .contacts__title{
      margin: 0;
      font-size: 43px;
      font-weight: 700;
      padding-bottom: 60px;
      background-image: url(../img/flag.webp);
      background-repeat: no-repeat;
      background-position: right top;
    }
  
    .contacts__table tbody{
      display: flex;
    }
  
    .contacts__tr{
      width: 50%;
    }
  
    .contacts__button{
      width: 230px;
      align-self: center;
    }
  }
  
  @media (min-width: 1050px) {
   .contacts{
     width: 1050px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: min-content min-content min-content;
     padding: 70px 0;
     box-sizing: border-box;
   }

   .contacts__title{
    font-size: 53px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 170px;
    background-position: left top;
    align-self: end;
    padding-bottom: 20px;
   }

   .contacts__table{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 170px;
    padding-bottom: 0;
   }

   .contacts__button {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 170px;
   }

   .contacts__map{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    padding-bottom: 0;
   }

   .contacts__table tbody{
    flex-direction: column;
  }

  .contacts__tr{
    width: 100%;
  }

}