.main-nav {
    width: 100%;
    position: relative;
  }
  
  .promo-list{
    display:none;
  }

  .main-nav__wrapper {
    width: 100%;
    position: fixed;
    background-color: #fff;
    left: 0;
    z-index: 100;
  }
  
  @media (max-width: 767px) {
    .main-nav--closed .main-nav__list {
      display: none;
    }
  }
  
  .main-nav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .main-nav__link {
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    color: black;
  }
  
  .main-nav__toogle {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 100;
  }
  
  .main-nav__toogle {
    border: none;
    background-color: transparent;
    background-image: url(../img/menu.webp);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
  }
  
  .main-nav__toogle--close {
    background-image: url(../img/menu-close.webp);
  }
  
  .main-nav__link:hover {
    opacity: 0.7;
  }
  
  .main-nav__link:active {
    opacity: 0.5;
  }
  
  .site-list__item,
  .user-list__item {
    padding: 25px 0;
    border-top: 1px solid #ececec;
    text-align: center;
  }
  
  .user-list__item {
    background-image: url(../img/search.webp);
    background-repeat: no-repeat;
    background-position: 30px center;
  }
  
  .user-list__item--cart {
    background-image: url(../img/cart.webp);
    background-repeat: no-repeat;
    background-position: 30px center;
  }
  
  .page-main {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  
  .main-nav--no-js .main-nav__toogle {
    display: none;
  }
  
  .main-nav--no-js .main-nav__wrapper {
    position: relative;
  }
  
  .page-header__shipping {
    display: none;
  }
  
  @media (min-width: 768px) {
    .main-nav__toogle {
      display: none;
    }
  
    .main-nav__wrapper {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: transparent;
    }
  
    .site-list {
      display: flex;
      flex-direction: row;
    }
  
    .site-list__item {
      padding: 10px 0;
      margin-right: 30px;
    }
  
    .site-list__item,
    .user-list__item {
      border: none;
    }
  
    .user-list__item{
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #ececec;
    }
  
    .user-list__item--search{
        width: 80px;
    }
  
    .user-list__item--cart{
        padding-left: 80px;
    }
  
    .user-list {
      position: absolute;
      top: -90px;
      right: 0;
      display: flex;
      flex-direction: row;
      height: 90px;
    }
  
    .main-nav__link {
      padding: 0;
      font-size: 15px;
    }
  
    .page-header__shipping {
      display: block;
      margin: 0;
      font-size: 15px;
    }
  
    .main-nav__link span {
      visibility: hidden;
    }

  
  }

  
  @media (min-width: 1150px) {

    .promo-list{
      display: block;
    }

    .user-list {
      top: 0;
    }
    
    .main-nav__wrapper{
      flex-direction: column;
      align-items: flex-start;
    }

    .site-list__item{
      padding: 34px 0;
      margin: 0;
    }

    .site-list__item:first-child{
      padding-right: 35px;
      border-right: 1px solid #ececec;
    }

    .site-list__item:nth-child(2){
      padding-left: 35px;
    }

    .promo-list{
      display: flex;
      flex-direction: row;
    }

    .promo-list__item{
      padding: 18px 63px 0 0; 
    }


    .main-nav__link {
      padding: 0;
      font-size: 17px;
    }

    .main-nav__link--promo{
      font-size: 15px;
    }

    .page-header__shipping{
      padding-top: 18px;
    }
  }   
