@import 'fonts';
@import 'buttons';
@import 'page-header';
@import 'main-nav';
@import 'choise';
@import 'week-product';
@import 'about';
@import 'reviews';
@import 'contacts';
@import 'page-footer';
@import 'catalog';
@import 'product';
@import 'process';
@import 'form';
@import 'modal'; 

body {
  min-width: 320px;
  margin: 0;
  position: relative;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Open Sans';
}

.page-main{
  border-top: 2px solid #ececec;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }

  .page-main{
      margin-top: -40px;
      padding-bottom: 30px;
  }
}

@media (min-width: 1150px) {

  body{
    margin: 0 auto;
    width: 100%;
  }

  .page-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}
}

.hidden {
  display: none;
}
