.process {
    margin: 0 30px;
    border: 1px solid #ededed;
    display: flex;
    flex-direction: column;
  }
  
  .process__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 35px 0 35px;
    justify-content: center;
  }
  
  .process__title {
    font-size: 17px;
    display: block;
    padding-left: 25px;
  }
  
  .process__video {
    outline: none;
    margin-bottom: 35px;
    width: 100%;
  }
  
  .process__info {
    padding: 0 35px;
    margin: 0;
    margin-bottom: 30px;
  }
  
  .process__button {
    margin: 0 35px 30px 35px;
  }
  
  @media (min-width: 768px) {
    .process__header{
      order: 2;
      align-self: start;
      padding: 40px 0 50px 40px;
      font-size: 20px;
    }
    .process__title{
        margin: 0;
    }
  
    .process__video{
      order:1;
      margin: 0;
    }
  
    .process__info{
      order: 3;
      font-size: 15px;
    }
  
    .process__button{
      order: 4;
    }
  }

  @media (min-width: 768px) {
    .process{
      width: 1050px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: min-content min-content min-content;
      margin-bottom: 105px;
      column-gap: 70px;
    }

    .process__header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    }

    .process__video{
      grid-row-start: 1;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
      width: 100%;
      height: 460px;
    }

    .process__info{
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      margin: 0;
    }

    .process__button{
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .process__header{
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
    }

    .process__img{
      padding: 30px 0;
    }

    .process__title{
      padding: 0;
      font-size: 20px;
      width: 200px;
    }

    .process__info{
      padding-left: 0;
      width: 250px;
    }

    .process__button{
      margin: 0;
     width: 230px;
     height: 50px;
    }
  }